# Java class files
*.class

# Package files
*.jar
*.war
*.ear

# Logs
*.log

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files
.idea/
*.iml
out/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# VS Code settings
.vscode/
